{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/admin/receitas">
        <section class="recipe-image" style="background: url() no-repeat center center / cover"></section>
        <section class="details">

            <div class="fields-wrapper">
                
                <h3>Nova receita</h3>

                {% include 'admin/fields.njk' %}

            </div>

        </section>
    </form>

    <script src="/scripts.js"></script>

{% endblock content %}