<div class="item">
    <div>URL da imagem</div>
    <div>
        <input value="{{ recipe.image }}" type="url" name="image" placeholder="">
    </div>
</div>

<div class="item">
    <div>Título</div>
    <div>
        <input value="{{recipe.title}}" type="text" name="title" placeholder="">
    </div>
</div>

<div class="item">
    <div>Autor</div>
    <div>
        <input value="{{recipe.author}}" type="text" name="author" placeholder="">
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div class="inputs" >
        <div class="input-wrapper">
            <input type="text" name="ingredients[]" value="{{recipe.ingredients}}" placeholder="" />
        </div>
    </div>
</div>

<div class="add-input-wrapper">
    <button type="button" class="add-input">Adicionar</button>
</div>

<div class="item">
    <div>Preparação</div>
    <div>
        <input value="{{recipe.preparation}}" type="text" name="preparation" placeholder="">
    </div>
</div>

<div class="item">
    <div>Informação</div>
    <div>
        <input value="{{recipe.information}}" type="text" name="preparation" placeholder="">
    </div>
</div>

<button type="submit">Salvar</button>