{% extends "layout.njk" %}

{% block head %}

    <title>Foodfy</title>

{% endblock head %}

{% block content %}

    <main>
        <h2>Gerenciar Receitas</h2>

        <div class="featured">
            <div class="food-wrapper">

                {% for item in items %}

                    <a href="/admin/receitas/list/{{ item.id }}">
                        <div class="food-item">
                            <img src="{{item.image}}" alt="{{item.title}}" class="food-image">
                            <h3>{{item.title}}</h3>
                            <div class="food-description">por {{item.author}}</div>
                        </div>
                    </a>

                {% endfor %}

                
                
            </div>
        </div>
    </main>

{% endblock content %}