<!DOCTYPE html>
<html lang="pt_BR">
<head>
    {% block head %}

        <title>Foodfy</title>

    {% endblock head %}

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="wrapper">

        <header>
            <div class="header-wrapper">
                <div class="main-nav">
                    <a href="/"><div class="logo"></div></a>
                    <nav class="menu">
                        <div class="menu-item"><a href="/sobre">Sobre</a></div>
                        <div class="menu-item"><a href="/receitas">Receitas</a></div>
                    </nav>
                </div>
                <a class="admin-wrapper" href="/admin/receitas/list">Admin</a>
            </div>
        </header>
        
        {% block content %}
        
        {% endblock %}

    </div>

    <footer>
        <div class="rights">Todos direitos reservados, receitas Foodfy.</div>
    </footer>
</body>
</html>